.about-section {
  background: #283544;
}

.about-bg-wrapper {
  padding-top: 24px;
  padding-bottom: 370px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/about/about-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
    background-position: top right;
  }
}

.about-container {
}

.about-title {
  color: #fff;
}

.about-subtitle {
  color: #fff;
}

.about-top-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  max-width: 891px;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.about-span {
  font-weight: 500;
}

.about-bottom-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  max-width: 891px;

  @include media(desktop) {
    font-size: 24px;
  }
}
