.design-section {
}

.design-bg-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1440px;
  }
}

.design-container {
}

.design-title {
}

.design-subtitle {
}

.design-list-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  color: #000;

  @include media(desktop) {
    font-size: 24px;
  }
}

.design-list {
  list-style-type: disc;
  padding-left: 25px;
  margin-bottom: 16px;

  @include media(desktop) {
    padding-left: 30px;
    margin-bottom: 40px;
  }
}

.design-list-item {
}

.design-list-item-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  color: #000;

  @include media(desktop) {
    font-size: 24px;
  }
}

.design-example-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  color: #000;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.design-text-span {
  font-weight: 700;
}

.design-bottom-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #fd7765;

  @include media(desktop) {
    font-size: 24px;
  }
}
