.policy-section {
  background: linear-gradient(180deg, #000 0%, #0b132b 100%);
  padding-top: 88px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 152px;
    padding-bottom: 120px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  background: linear-gradient(180deg, #0ecbaf 0%, rgba(14, 203, 175, 0.1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 64px;
    margin-bottom: 40px;
  }
}

.policy-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  background: linear-gradient(180deg, #0ecbaf 0%, rgba(14, 203, 175, 0.1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #f1f5f9;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #f1f5f9;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 24px;
  }

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 24px;
    }
  }
}

.policy-span {
  color: #2a3aa0;
  text-decoration: underline;
}

.policy-link {
  color: #2a3aa0;
  text-decoration: underline;
  word-wrap: break-word;
}
