.policy-section {
  background: #fbfbfb;
  padding-top: 88px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 152px;
    padding-bottom: 120px;
  }
}

.policy-main-title {
  font-family: 'DM Serif Text', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875;
  text-align: center;
  color: #000;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 32px;
  }
}

.policy-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: justify;
  color: #000;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

.policy-subtitle {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
  color: #000;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 36px;
  }
}

.policy-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33333;
  text-align: justify;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 30px;

    &:not(:last-child) {
    }
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33333;
  text-align: justify;
  color: #000;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 30px;

    &:last-child {
    }
  }
}

.policy-span {
  color: #487cff;
  text-decoration: underline;
}

.policy-link {
  color: #487cff;
  text-decoration: underline;
  word-wrap: break-word;
}
