<section class="section about-section" id="about">
  <div class="about-title-wrapper">
    <div class="container">
      <h2 class="section-title">About Idleka</h2>
      <p class="section-subtitle about-subtitle">Built for Busy Brains</p>
    </div>
  </div>
  <div class="container about-container">
    <div class="about-img-wrapper">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="1280"
          height="616"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="375"
          height="245"
        />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.png"
          alt="Client"
          width="375"
          height="245"
          loading="lazy"
        />
      </picture>
      <div class="about-text-wrapper">
        <p class="about-text about-top-text">
           Idleka is a Limited Liability Company founded by systems strategist
          <span class="about-text-span">Alex Rowe</span>.
        </p>
        <p class="about-text about-middle-text">
          After 8+ years working with creators and consultants, we noticed the
          same trend: burnout from complexity.
        </p>
        <p class="about-text about-bottom-text">
          Our mission is to deliver clean, efficient systems that feel like a
          breath of fresh air — not another thing to manage.
        </p>
      </div>
    </div>
  </div>
</section>
