<section id="cookie-banner" class="cookie-banner-section">
  <div class="cookie-banner-content-wrapper">
    <h2 class="cookies-banner-title">Cookies Policy</h2>
    <p class="cookie-banner-text">
       We use cookies to improve your experience on our website.<br />
      By browsing this website, you agree to our use of cookies.
    </p>
    <div class="cookie-banner-buttons">
      <div class="cookie-banner-btn-wrapper">
        <button class="cookie-btn" id="cookie-accept">ACCEPT COOKIES</button>
      </div>
      <div class="cookie-banner-btn-wrapper">
        <button class="cookie-btn" id="cookie-decline">DECLINE COOKIES</button>
      </div>
    </div>
  </div>
</section>
