<section class="section clients-section" id="clients">
  <div class="container clients-container">
    <h2 class="section-title">Who It's For</h2>
    <p class="section-subtitle clients-subtitle">Is Idleka Right for You?</p>
    <p class="clients-text">
      Our systems are designed for online businesses that want flow, not
      friction.
    </p>
    <p class="section-subtitle clients-subtitle">
      You’ll benefit most if you're:
    </p>
    <ul class="clients-list">
      <li class="clients-list-item">
        <picture>
          <source
            srcset="./img/clients/clients-img1-desk.png"
            media="(min-width: 1440px)"
            width="411"
            height="280"
          />
          <source
            srcset="./img/clients/clients-img1-mob.png"
            width="148"
            height="107"
          />
          <img
            class="clients-img"
            src="./img/clients/clients-img1-mob.png"
            alt="Client"
            width="148"
            height="107"
            loading="lazy"
          />
        </picture>
        <p class="clients-item-text">A solo creator juggling too many tabs</p>
      </li>
      <li class="clients-list-item">
        <picture>
          <source
            srcset="./img/clients/clients-img2-desk.png"
            media="(min-width: 1440px)"
            width="411"
            height="280"
          />
          <source
            srcset="./img/clients/clients-img2-mob.png"
            width="148"
            height="107"
          />
          <img
            class="clients-img"
            src="./img/clients/clients-img2-mob.png"
            alt="Client"
            width="148"
            height="107"
            loading="lazy"
          />
        </picture>
        <p class="clients-item-text">
          A coach scaling your offers without burnout
        </p>
      </li>
      <li class="clients-list-item">
        <picture>
          <source
            srcset="./img/clients/clients-img3-desk.png"
            media="(min-width: 1440px)"
            width="411"
            height="280"
          />
          <source
            srcset="./img/clients/clients-img3-mob.png"
            width="148"
            height="107"
          />
          <img
            class="clients-img"
            src="./img/clients/clients-img3-mob.png"
            alt="Client"
            width="148"
            height="107"
            loading="lazy"
          />
        </picture>
        <p class="clients-item-text">
          A freelancer tired of writing manual emails
        </p>
      </li>
      <li class="clients-list-item">
        <picture>
          <source
            srcset="./img/clients/clients-img4-desk.png"
            media="(min-width: 1440px)"
            width="411"
            height="280"
          />
          <source
            srcset="./img/clients/clients-img4-mob.png"
            width="148"
            height="107"
          />
          <img
            class="clients-img"
            src="./img/clients/clients-img4-mob.png"
            alt="Client"
            width="148"
            height="107"
            loading="lazy"
          />
        </picture>
        <p class="clients-item-text">
          A team trying to work async and stay lean
        </p>
      </li>
      <li class="clients-list-item">
        <picture>
          <source
            srcset="./img/clients/clients-img5-desk.png"
            media="(min-width: 1440px)"
            width="411"
            height="280"
          />
          <source
            srcset="./img/clients/clients-img5-mob.png"
            width="148"
            height="107"
          />
          <img
            class="clients-img"
            src="./img/clients/clients-img5-mob.png"
            alt="Client"
            width="148"
            height="107"
            loading="lazy"
          />
        </picture>
        <p class="clients-item-text">
          A digital business that wants freedom and structure
        </p>
      </li>
    </ul>
  </div>
</section>
