<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="section-title">Contact</h2>
    <div class="contact-pic-wrapper">
      <picture>
        <source
          srcset="./img/contact/contact-bg-desk.png"
          media="(min-width: 1440px)"
          width="628"
          height="530"
        />
        <source
          srcset="./img/contact/contact-bg-mob.png"
          width="311"
          height="262"
        />
        <img
          class="contact-img"
          src="./img/contact/contact-bg-mob.png"
          alt="People working"
          width="311"
          height="262"
          loading="lazy"
        />
      </picture>
      <div class="contact-text-wrapper">
        <p class="section-subtitle contact-subtitle">
          Let’s Build Your Calm System
        </p>
        <p class="contact-text">
          Ready to reduce chaos and reclaim your time? Let’s talk.
        </p>
        <div class="contact-email-wrapper">
          <svg class="contact-email-icon" width="25" height="25">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
          <div class="contact-email-text-wrapper">
            <p class="contact-email-text">Email:&nbsp;</p>
            <a href="mailto:info@idleka.site" class="contact-email-link"
              >info@idleka.site</a
            >
          </div>
        </div>
        <div class="contact-company-text-wrapper">
          <p class="contact-company-text">Company:&nbsp;</p>
          <a href="" class="contact-company-link"
            >Idleka, Limited Liability Company</a
          >
        </div>
        <a href="#home" class="contact-get-btn">Start With a Free Audit</a>
      </div>
    </div>
  </div>
</section>
