<footer class="footer" id="footer">
  <div class="footer-top-wrapper">
    <div class="container footer-container">
      <a class="footer-logo-link" href="./">
        <picture>
          <source
            srcset="./img/header/header-logo-desk.png"
            media="(min-width: 1440px)"
            width="139"
            height="39"
          />
          <source
            srcset="./img/header/header-logo-mob.png"
            width="93"
            height="24"
          />
          <img
            class="footer-logo-img"
            src="./img/header/header-logo-mob.png"
            alt="Logo"
            width="93"
            height="24"
          />
        </picture>
      </a>
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#home">Home</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#services">Services</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#templates">Templates</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#about">About</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#faq">FAQs</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./index.html#contact">Contact</a>
          </li>
        </ul>
        <ul class="footer-privacy-list">
          <li class="footer-privacy-item">
            <a class="footer-privacy-link" href="./privacy-policy.html"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-privacy-item">
            <a class="footer-privacy-link" href="./terms-and-conditions.html"
              >Terms of Service</a
            >
          </li>
          <li class="footer-privacy-item">
            <a class="footer-privacy-link" href="./cookies-policy.html"
              >Cookies Policy</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer-email-wrapper">
        <svg class="email-icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-email"></use>
        </svg>
        <div class="footer-email-text-wrapper">
          <p class="footer-email-text">Email:&nbsp;</p>
          <a href="mailto:info@idleka.site" class="footer-email-link"
            >info@idleka.site</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container footer-container">
      <p class="footer-bottom-text">
        Advisvia LLC – All rights reserved. | 2025
      </p>
    </div>
  </div>
</footer>
