<footer class="footer" id="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="./index.html#home">Home</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./index.html#glossary">Glossary</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./index.html#design">Archive</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./index.html#essays">Critics</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./index.html#submissions">Submit</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="./index.html#manifesto">Manifesto</a>
        </li>
      </ul>
    </nav>
    <div class="footer-bottom-wrapper">
      <ul class="footer-privacy-list">
        <li class="footer-privacy-item">
          <a class="footer-privacy-link" href="./privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-privacy-item">
          <a class="footer-privacy-link" href="./terms-and-conditions.html"
            >Terms & Conditions</a
          >
        </li>
        <li class="footer-privacy-item">
          <a class="footer-privacy-link" href="./cookies-policy.html"
            >Cookies Policy</a
          >
        </li>
      </ul>
      <p class="footer-bottom-text">
        © 2025 Mentaium Sensory Design LLC | mentaium.space
      </p>
    </div>
  </div>
</footer>
