<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <div class="hero-bg-wrapper">
        <h1 class="hero-title">
          Work Smarter,<br class="hero-title-br" />
          Rest Deeper
        </h1>
        <p class="hero-top-text">
          Systems consulting for
          <span class="hero-top-text-span"
            >creators, coaches, and service pros</span
          >
          who want their business to run smoothly — even when they’re offline.
        </p>
        <p class="hero-bottom-text">
          At Idleka, we help you build lean, no-code systems that reduce manual
          tasks, streamline your operations, and bring back your creative
          energy.
        </p>
        <div class="hero-btn-wrapper">
          <a href="#contact" class="hero-get-btn">Get a Free Ops Audit</a>
          <a href="#contact" class="hero-explore-btn">Explore Templates</a>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/hero/hero-robot-desk.png"
        media="(min-width: 1440px)"
        width="591"
        height="742"
      />
      <source srcset="./img/hero/hero-robot-mob.png" width="243" height="310" />
      <img
        class="hero-robot-img"
        src="./img/hero/hero-robot-mob.png"
        alt="Robot"
        width="243"
        height="310"
      />
    </picture>
  </div>
</section>
