<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <div class="hero-bg-wrapper-desk">
        <div class="hero-top-wrapper">
          <h1 class="hero-title">The Shape of Attention</h1>
          <p class="hero-title-text">
            <span class="hero-top-span">mentaium.space</span> is a blog that
            studies the invisible structures inside games.
          </p>
          <p class="hero-subtitle">This is not a review site.</p>
          <p class="hero-subtitle-text">
            It’s a chronicle of the architecture of attention.
          </p>
        </div>
        <div class="hero-img-text-wrapper">
          <p class="hero-img-top-text">
            Most game reviews focus on what you do.
          </p>
          <p class="hero-img-middle-text">
            We focus on
            <span class="hero-middle-span">how you’re led to do it.</span>
          </p>
          <p class="hero-img-bottom-text">
            Every flicker, delay, vibration, and shadow in a game shapes what
            you notice — and what you miss.
          </p>
        </div>
        <div class="hero-bottom-wrapper">
          <div class="hero-list-wrapper">
            <p class="hero-list-title">We explore:</p>
            <ul class="hero-list">
              <li class="hero-list-item">
                <p class="hero-item-text">How games structure perception</p>
              </li>
              <li class="hero-list-item">
                <p class="hero-item-text">
                  How mechanics regulate breath and gaze
                </p>
              </li>
              <li class="hero-list-item">
                <p class="hero-item-text">
                  When flow state emerges — and when it shatters
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
