<section class="section manifesto-section" id="manifesto">
  <div class="manifesto-bg-wrapper">
    <div class="container manifesto-container">
      <h2 class="section-title manifesto-title">
        We Map What You Don’t Notice
      </h2>
      <p class="section-subtitle manifesto-subtitle">
        This is not media coverage. It’s attention cartography
      </p>
      <div class="manifesto-list-wrapper">
        <p class="manifesto-list-title">
          <span class="manifesto-title-span">mentaium.space</span> exists to:
        </p>
        <ul class="manifesto-list">
          <li class="manifesto-list-item">
            <p class="manifesto-list-item-text">
              Reveal how games engineer awareness
            </p>
          </li>
          <li class="manifesto-list-item">
            <p class="manifesto-list-item-text">
              Track the rhythm of gaze and breath
            </p>
          </li>
          <li class="manifesto-list-item">
            <p class="manifesto-list-item-text">
              Archive the emotional geometry of screen time
            </p>
          </li>
        </ul>
      </div>
      <div class="manifesto-bottom-wrapper">
        <p class="manifesto-text">
          Our job isn’t to tell you if a game is good.
        </p>
        <p class="manifesto-bottom-text">
          It’s to show you
          <span class="manifesto-bottom-span"
            >how it shapes you — when you’re not paying attention.</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
