<section class="patterns-section section" id="patterns">
  <div class="patterns-section-wrapper">
    <div class="container">
      <h2 class="section-title patterns-title">
        Designing Focus: 5 Patterns Games Use to Guide Mental State
      </h2>
      <p class="section-subtitle patterns-subtitle">
        Exploring first-person games that exhale for you — literally.
      </p>
      <div class="patterns-list-wrapper">
        <p class="patterns-list-title">Each pattern includes:</p>
        <ul class="patterns-list">
          <li class="patterns-list-item">
            <p class="patterns-item-text">Use cases</p>
          </li>
          <li class="patterns-list-item">
            <p class="patterns-item-text">Emotional response spectrum</p>
          </li>
          <li class="patterns-list-item">
            <p class="patterns-item-text">Linked examples in known titles</p>
          </li>
          <li class="patterns-list-item">
            <p class="patterns-item-text">Cross-reference to glossary terms</p>
          </li>
        </ul>
      </div>
      <p class="patterns-slider-title">
        We catalogue recurring focus structures across games:
      </p>
    </div>
    <div class="container patterns-container">
      <div class="patterns-swiper-container">
        <ul class="swiper-wrapper patterns-swiper-wrapper">
          <li class="swiper-slide patterns-slide">
            <picture>
              <source
                srcset="./img/patterns/patterns-img1-desk.png"
                media="(min-width: 1440px)"
                width="370"
                height="256" />
              <source
                srcset="./img/patterns/patterns-img1-mob.png"
                width="335"
                height="256" />
              <img
                class="patterns-img"
                src="./img/patterns/patterns-img1-mob.png"
                alt="Pattern"
                width="335"
                height="256"
                loading="lazy"
            /></picture>
            <p class="patterns-slide-text">
              Tunnel Pattern – Narrow visual funneling (e.g. subway sequences,
              cave runs)
            </p>
          </li>
          <li class="swiper-slide patterns-slide">
            <picture>
              <source
                srcset="./img/patterns/patterns-img2-desk.png"
                media="(min-width: 1440px)"
                width="370"
                height="256" />
              <source
                srcset="./img/patterns/patterns-img2-mob.png"
                width="335"
                height="256" />
              <img
                class="patterns-img"
                src="./img/patterns/patterns-img2-mob.png"
                alt="Pattern"
                width="335"
                height="256"
                loading="lazy"
            /></picture>
            <p class="patterns-slide-text">
              Loop Absorption – Small, repeatable interactions that induce
              trance (fishing, farming, orbit puzzles)
            </p>
          </li>
          <li class="swiper-slide patterns-slide">
            <picture>
              <source
                srcset="./img/patterns/patterns-img3-desk.png"
                media="(min-width: 1440px)"
                width="370"
                height="256" />
              <source
                srcset="./img/patterns/patterns-img3-mob.png"
                width="335"
                height="256" />
              <img
                class="patterns-img"
                src="./img/patterns/patterns-img3-mob.png"
                alt="Pattern"
                width="335"
                height="256"
                loading="lazy"
            /></picture>
            <p class="patterns-slide-text">
              Ritualized Delay – Requiring players to wait before they act (day
              timers, charge builds)
            </p>
          </li>
          <li class="swiper-slide patterns-slide">
            <picture>
              <source
                srcset="./img/patterns/patterns-img4-desk.png"
                media="(min-width: 1440px)"
                width="574"
                height="280" />
              <source
                srcset="./img/patterns/patterns-img4-mob.png"
                width="335"
                height="256" />
              <img
                class="patterns-img"
                src="./img/patterns/patterns-img4-mob.png"
                alt="Pattern"
                width="335"
                height="256"
                loading="lazy"
            /></picture>
            <p class="patterns-slide-text">
              Asymmetrical Silence – Unscored moments forcing interpretation
            </p>
          </li>
          <li class="swiper-slide patterns-slide">
            <picture>
              <source
                srcset="./img/patterns/patterns-img5-desk.png"
                media="(min-width: 1440px)"
                width="574"
                height="280" />
              <source
                srcset="./img/patterns/patterns-img5-mob.png"
                width="335"
                height="256" />
              <img
                class="patterns-img"
                src="./img/patterns/patterns-img5-mob.png"
                alt="Pattern"
                width="335"
                height="256"
                loading="lazy"
            /></picture>
            <p class="patterns-slide-text">
              Micro-interruption Streams – Dialogs or cues that prevent full
              immersion
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="dots">
        <div class="patterns-dot active"></div>
        <div class="patterns-dot"></div>
        <div class="patterns-dot"></div>
        <div class="patterns-dot"></div>
        <div class="patterns-dot"></div>
      </div>
    </div>
  </div>
</section>
