<section class="section reception-section" id="reception">
  <div class="reception-bg-wrapper">
    <div class="container reception-container">
      <h2 class="section-title reception-title">
        How Game Design Is Seen Across Cultures
      </h2>
      <p class="section-subtitle reception-subtitle">
        Same game. Different eyes.
      </p>
      <p class="reception-list-title">
        When players from different regions experience the same visual
        structures, they report different feelings:
      </p>
      <picture>
        <source
          srcset="./img/reception/reception-bg-desk.png"
          media="(min-width: 1440px)"
          width="483"
          height="532" />
        <source
          srcset="./img/reception/reception-bg-mob.png"
          width="327"
          height="324" />
        <img
          class="reception-bg-img"
          src="./img/reception/reception-bg-mob.png"
          alt="Figure"
          width="327"
          height="324"
          loading="lazy"
      /></picture>
      <ul class="reception-list">
        <li class="reception-list-item">
          <picture>
            <source
              srcset="./img/reception/reception-img1-desk.png"
              media="(min-width: 1440px)"
              width="120"
              height="120" />
            <source
              srcset="./img/reception/reception-img1-mob.png"
              width="60"
              height="60" />
            <img
              class="reception-img"
              src="./img/reception/reception-img1-mob.png"
              alt="House"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="reception-list-item-text">
            JP players describe SoftWind as “a place of retreat”
          </p>
        </li>
        <li class="reception-list-item">
          <picture>
            <source
              srcset="./img/reception/reception-img2-desk.png"
              media="(min-width: 1440px)"
              width="120"
              height="120" />
            <source
              srcset="./img/reception/reception-img2-mob.png"
              width="60"
              height="60" />
            <img
              class="reception-img"
              src="./img/reception/reception-img2-mob.png"
              alt="Line"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="reception-list-item-text">
            FR players note its “lack of urgency as discomfort”
          </p>
        </li>
        <li class="reception-list-item">
          <picture>
            <source
              srcset="./img/reception/reception-img3-desk.png"
              media="(min-width: 1440px)"
              width="120"
              height="120" />
            <source
              srcset="./img/reception/reception-img3-mob.png"
              width="60"
              height="60" />
            <img
              class="reception-img"
              src="./img/reception/reception-img3-mob.png"
              alt="Clock"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="reception-list-item-text">
            BR players highlight “rhythmic boredom — good boredom”
          </p>
        </li>
      </ul>
      <p class="reception-bottom-text">
        This block compares emotional reception across languages, using
        translated forums, essays, and subtitles.
      </p>
    </div>
  </div>
</section>
