<section class="section services-section" id="services">
  <div class="container services-container">
    <h2 class="section-title">What We Do</h2>
    <p class="section-subtitle services-subtitle">
      Intelligent Systems for Solopreneurs & Teams
    </p>
    <div class="services-pic-wrapper">
      <picture>
        <source
          srcset="./img/services/services-bg-desk.png"
          media="(min-width: 1440px)"
          width="628"
          height="351"
        />
        <source
          srcset="./img/services/services-bg-mob.png"
          width="311"
          height="174"
        />
        <img
          class="services-img"
          src="./img/services/services-bg-mob.png"
          alt="Woman working"
          width="311"
          height="174"
          loading="lazy"
        />
      </picture>
      <div class="services-text-wrapper">
        <p class="services-text">
          We specialize in turning your cluttered business into an efficient
          machine.
        </p>
        <p class="services-text">
          Our online consulting services focus on operational clarity,
          automation, and digital infrastructure.
        </p>
        <p class="services-text">
          Whether you’re onboarding clients, delivering content, or launching
          products — we help it all run on autopilot.
        </p>
      </div>
    </div>
    <p class="section-subtitle services-subtitle">Subservices:</p>
    <ul class="services-list">
      <li class="services-list-item">
        <p class="services-item-text">
          Workflow Automation (Zapier, Make, Airtable)
        </p>
      </li>
      <li class="services-list-item">
        <p class="services-item-text">Notion Workspaces & Dashboards</p>
      </li>
      <li class="services-list-item">
        <p class="services-item-text">
          Funnel Optimization (Calendly, Stripe, Email)
        </p>
      </li>
      <li class="services-list-item">
        <p class="services-item-text">Offer Clarity & Journey Mapping</p>
      </li>
      <li class="services-list-item">
        <p class="services-item-text">Content Ops & Repurposing Flows</p>
      </li>
    </ul>
  </div>
</section>
