<section class="section submissions-section" id="submissions">
  <div class="submissions-bg-wrapper">
    <div class="container submissions-container">
      <div class="submissions-content-wrapper">
        <div class="submissions-top-wrapper">
          <h2 class="section-title submissions-title">
            Did a Game Steal Your Breath? Show Us
          </h2>
          <p class="section-subtitle submissions-subtitle">
            Send in a moment that made you forget the time.
          </p>
          <div class="submissions-list-wrapper">
            <p class="submissions-list-title">We accept:</p>
            <ul class="submissions-list">
              <li class="submissions-list-item">
                <p class="submissions-list-item-text">Short descriptions</p>
              </li>
              <li class="submissions-list-item">
                <p class="submissions-list-item-text">Timed screenshots</p>
              </li>
              <li class="submissions-list-item">
                <p class="submissions-list-item-text">Sequence logs</p>
              </li>
              <li class="submissions-list-item">
                <p class="submissions-list-item-text">
                  Emotion-linked interactions
                </p>
              </li>
            </ul>
          </div>
          <p class="submissions-bottom-text-desk">
            Entries are archived in the
            <span class="submissions-bottom-span">Perception Log</span>, and
            selected submissions are featured in essays or interactive maps.
          </p>
        </div>
        <div class="submissions-form-wrapper">
          <form class="submissions-form" id="contact-form">
            <div class="submissions-label-wrapper">
              <label class="submissions-form-label" for="name"
                >Username <span class="submissions-label-span">*</span></label
              ><input
                class="submissions-form-input"
                type="text"
                placeholder=""
                name="name"
                id="name"
                required
              />
            </div>
            <div class="submissions-label-wrapper">
              <label class="submissions-form-label" for="email"
                >Email address
                <span class="submissions-label-span">*</span></label
              ><input
                class="submissions-form-input submissions-email-input"
                type="email"
                placeholder="email@example.com"
                name="email"
                id="email"
                required
              />
              <svg class="card-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-card"></use>
              </svg>
              <svg class="help-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-help"></use>
              </svg>
              <div class="tooltip-text">
                Allowed characters: letters, numbers, ., _, -. Required @
                symbol.
              </div>
            </div>
            <div class="submissions-label-wrapper">
              <label class="submissions-form-label" for="message"
                >About <span class="submissions-label-span">*</span></label
              ><textarea
                class="submissions-textarea"
                name="message"
                id="message"
                rows="6"
                placeholder="Type your message..."
                maxlength="300"
                required
              ></textarea>
              <p class="submissions-textarea-counter">300 characters left</p>
            </div>
            <div class="submissions-label-wrapper">
              <span class="file-label-text">Timed screenshots</span>
              <label class="submissions-form-file-label">
                <input
                  class="visually-hidden"
                  type="file"
                  accept=".png, .jpg, .jpeg, .gif, .bmp, .webp"
                  name="screenshot"
                  id="screenshot"
                />
                <svg class="camera-icon" width="44" height="44">
                  <use href="./img/sprite.svg#icon-camera"></use>
                </svg>
                <span class="submissions-file-upload-text">upload image</span>
              </label>
            </div>
            <div class="submissions-form-btn-wrapper">
              <button type="reset" class="submissions-form-cancel-btn">
                Cancel
              </button>
              <button type="submit" class="submissions-form-save-btn">
                Save
              </button>
            </div>
          </form>
          <div id="success-popup" class="modal-form hidden">
            ✅ Your message has been sent!
          </div>
        </div>
        <div class="submissions-bottom-wrapper">
          <p class="submissions-bottom-text">
            Entries are archived in the
            <span class="submissions-bottom-span">Perception Log</span>, and
            selected submissions are featured in essays or interactive maps.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
